.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.swiftpm


# Demo Project

/Demo/SwiftTooltipDemo/.DS_Store
/Demo/SwiftTooltipDemo/.build
/Demo/SwiftTooltipDemo/Packages
/Demo/SwiftTooltipDemo/*.xcodeproj
/Demo/SwiftTooltipDemo/xcuserdata/
/Demo/SwiftTooltipDemo/DerivedData/
/Demo/SwiftTooltipDemo/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/Demo/SwiftTooltipDemo/.swiftpm
